asgiref==3.5.0
atomicwrites==1.4.0
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.4
Django==3.0.5
djangorestframework==3.14.0
Faker==13.3.0
idna==2.8
importlib-metadata==1.5.0
mixer==7.1.2
more-itertools==8.2.0
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
pytest-django==3.8.0
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2019.3
requests==2.22.0
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.0
text-unidecode==1.3
typing-extensions==4.1.1
urllib3==1.25.6
wcwidth==0.1.8
zipp==2.2.0
load-dotenv==0.1.0
psycopg2-binary==2.8.1
gunicorn==20.0.4