{% extends "base.html" %}
{% block title %}Cоревнования {{cup.name}}{% endblock %}
{% block content %}
<div class="container">
  <article class="col-md-12 col-md-6">
    <div class="card">
      <h3 class="card-header">{{ cup.name }}</h3>
      <div class="card-body">
        {% if user.is_authenticated %}
          <a class="btn btn-info" href="{% url 'cup_update' slug=cup.slug %}" role="button">Редактировать</a>
          <!-- Кнопка-триггер модального окна -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#delConfModal"> 
            Удалить 
          </button>
        {% endif %}
        <p>
          {{ cup.description }}
        </p>
      </div>
    </div>
  </article>
</div>

  <div class="container">
    <br>
    <h6><b>Все связанные мероприятия:</b></h6>
    <table class="table table-bordered table-sm" >
        <thead style="background: rgba(229, 232, 232, 0.864)"> 
          <tr>
            <th scope="col" >Дата</th> 
            <th scope="col" > Название гонки </th>
          </tr>
        </thead>
  
        <tbody>     
          {% for race in races %}  
          <tr>
              <td scope="row" >{{ race.date|date:"d.m.Y" }}</td>
              <td> <a href="{% url 'race_info' slug=race.slug %}"> {{ race.name }} </a> </td>
          </tr>        
          {% endfor %}
         </tbody> 
      </table>
  </div>



  <!-- Шаблон окна подтверждения -->
 <div class="modal fade" id="delConfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление Кубка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      
      <div class="modal-body">  
        Удалить группу соревнований {{cup.name}} ?
      </div>
    
      <div class="modal-footer">
      <form action="{% url 'cup_delete' slug=cup.slug %}" method="POST">{% csrf_token %}
        <div>  
          <input type="submit" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
          <label class="btn btn-outline-danger" for="danger-outlined">ДА</label>
          <a href="{% url 'cup_info' cup.slug %}" class="btn btn-outline-primary" for="btn-check-outlined">Нет</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}