{% extends "base.html" %}
{% block title %}Редактирование заявки на {{ race.name }}. {% endblock %}
{% block content %}
  <div class="container">
    <article class="col-md-12 col-md-6">
      <div class="card">
        <a class="card-header" href="{% url 'race_info' race.slug %}">вернуться к обзору {{ race.name }}</a>
        <h6 class="card-header">Для редактирования заявки на {{ race.name }}, {{ race.cup.name }} введите ниже код, полученный при регистрации.</h6>
      </div>
    </article>
  </div>
  <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit"  class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
    <label class="btn btn-outline-primary" for="danger-outlined">Отправить</label>
  </form>
{% endblock %}