<div class="container" >
  <div class="row" style="background: rgb(21, 71, 199)">
    <div class="col">
      <h6 class="card-header" > <a href="\" style="color: white";>Главная страница</a></h6>
    </div>
    <div class="col">
      <h6 class="card-header" > <a href="{% url 'cup_create' %}" style="color: white";>Создать кубок</a></h6>
    </div>
    <div class="col">
      <h6 class="card-header" > <a href="{% url 'race_create' %}" style="color: white";>Создать соревнование</a></h6>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
