{% extends "base.html" %}
{% block title %}Все соревнования{% endblock %}
{% block content %}
<div class="container"> 
<form method="post" action="{{ request.path }}">
  {% csrf_token %}
  {{filter_form}}
  <input type="submit"  class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
  <label class="btn btn-outline-primary" for="danger-outlined">Найти</label>
</form>
</div> 
<div class="container"> 
    <table class="table table-bordered table-sm" >
      <thead style="background: rgb(158, 215, 225)"> 
        <tr>
          <th scope="col" >Дата</th> 
          <th scope="col" > Название гонки </th>
          <th scope="col" > Группа гонок </th> 
          <th scope="col" > Место проведения </th>
        </tr>
      </thead>

      <tbody>     
        {% for race in page %}  
        <tr>
            <td scope="row" >{{ race.date|date:"d.m.Y" }}</td>
            <td> <a href="{% url 'race_info' slug=race.slug %}"> {{ race.name }} </a> </td>
            <td>
              {% if race.cup %}
                <a href="{% url 'cup_info' slug=race.cup.slug %}"> {{ race.cup }}</a>
              {% endif %} </td> 
            <td> {{ race.town }} </td>
        </tr>        
        {% endfor %}
       </tbody> 
    </table>
 </div>
    {% include "includes/paginator.html" %}
  

{% endblock %}