{% extends "base.html" %}
{% block title %}Все соревнования{% endblock %}
{% block content %}
<div class="container"> 
    <table class="table table-bordered table-sm" >
      <thead style="background: rgb(158, 215, 225)"> 
        <tr>
          <th scope="col" >Дата</th> 
          <th scope="col" > Название гонки </th>
          <th scope="col" > Группа гонок </th> 
          <th scope="col" > Место проведения </th>
        </tr>
      </thead>

      <tbody>     
        {% for race in page %}  
        <tr>
            <td scope="row" >{{ race.date|date:"d.m.Y" }}</td>
            <td> <a href="{% url 'race_info' slug=race.slug %}"> {{ race.name }} </a> </td>
            <td> <a href="{% url 'cup_info' slug=race.cup.slug %}"> {{ race.cup }}</a> </td> 
            <td> {{ race.town }} </td>
        </tr>        
        {% endfor %}
       </tbody> 
    </table>
 </div>
    {% include "includes/paginator.html" %}
  

{% endblock %}