<ul class="nav justify-content-end">
    {% if user.is_authenticated %}Пользователь: {{ user.username }}.
      <li class="nav-item"> <a class="p-2 text-dark" style="color: white" href="{% url 'password_change' %}">Изменить пароль</a></li>
      <li class="nav-item"> <a class="p-2 text-dark" style="color: white" href="{% url 'logout' %}">Выйти</a></li>
    {% else %}
        <li class="nav-item"> <a class="p-2 text-dark" style="color: white" href="{% url 'login' %}">Войти</a></li>
        <li class="nav-item"> <a class="p-2 text-dark" style="color: white" href="{% url 'signup' %}">Регистрация</a></li>
    {% endif %}
</ul>