{% extends "base.html" %}
{% block title %}Все соревнования{% endblock %}
{% block content %}
<div class="container">
  <article class="col-md-12 col-md-6">
    <div class="card">
      <h3 class="card-header">{{ race.name }}</h3>
      <p> </p>
      <p><a class="btn btn-info" href="{% url 'race_participants' slug=race.slug %}" role="button">Участники</a>
        {% if race.is_active %}
          <a class="btn btn-primary" href="{% url 'race_registration' slug=race.slug %}" role="button">Зарегистрироваться</a>
          <a class="btn btn-primary" href="{% url 'edit_reg_info' slug=race.slug %}" role="button">Редактировать заявку</a>
        {% endif %}
        {% if is_maker %}
          <a class="btn btn-info" href="{% url 'race_update' slug=race.slug %}" role="button">Редактировать соревнование</a>
          <!-- Кнопка-триггер модального окна -->
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delConfModal"> 
            Удалить соревнование
          </button>
        {% endif %}
        {% if user.is_authenticated %}       
          <form action="{% url 'race_by_template' %}" method="POST">{% csrf_token %} 
            <input type="hidden" name="race_slug" value={{ race.slug }}>
            <input type="submit" class="btn-check" name="options-outlined" id="copy">
            <label class="btn btn-info" for="copy">Скопировать</label>
          </form> 
        {% endif %}
      </p>
      <div class="card-body">
        <p>
          {{ race.description }}
        </p>
      </div>
    </div>
  </article>
</div>

<!-- Шаблон окна подтверждения -->
<div class="modal fade" id="delConfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление соревнования</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      
      <div class="modal-body">  
        Удалить соревнование "{{race.name}}" ?
      </div>
    
      <div class="modal-footer">
      <form action="{% url 'race_delete' slug=race.slug %}" method="POST">{% csrf_token %}
        <div>  
          <input type="submit" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
          <label class="btn btn-outline-danger" for="danger-outlined">ДА</label>
          <a href="{% url 'race_info' race.slug %}" class="btn btn-outline-primary" for="btn-check-outlined">Нет</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}